body {
    background-image: url("http://inventioninbrooklyn.com/learning/Lego.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
}

.main {
    width: 100%;
    padding-left:10%;
    padding-right:10%;
}
.textbox {
    position: relative;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-color: ;
    font-size: 18px;
    width:75%;
    height:60%;
    background:black;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

