body {
    background-image: url("http://inventioninbrooklyn.com/learning/Lego.jpg");
    background-position: 50% 50%;
    background-repeat: repeat;
}

.main {
    width: auto;
    padding-left:10%;
    overflow: hidden; /* will contain if #first is longer than #second */
}
.textbox {
    background:yellow;
    float:left; 

}
.vimeo {
}

@media only screen and (min-width: 481px) {

  div.vimeo {
 width: 50%;
margin-left: 10%;
margin-right: 5%;
  clear: none;
  float: left;
}
}