/** 
	CSS RESET
**/

/* With thanks, of course, to Eric Meyer. */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
ACTUAL CSS */

html {
	padding: 1em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}

body{
	min-height: 100%;
	border: 1px solid rgba(0,0,0,0.25);
	font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	background-color: rgb(245,205,30);
	}

#pageWrapper {
	min-height: 100%;
}

#page {
	margin: 64px;
	margin-bottom: 1em;
	}
	
#verticalAlignSpacer {
	float: left;
	height: 50%;
	width: 100%;
	margin-bottom: -160px;
}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	}

a:hover {
	border-bottom: 1px solid rgba(0,0,0,0.5);
	}
	
h1 a, h1 a:hover {
	border-bottom: none;
}

h1 {
	margin: 0 0 0.1875em;
	font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 4em;
	}

h2 {
	margin: 0 0 1em 0;
	font-size: 1.25em;
	}

h3 {
	font-family: "freight-sans-pro", georgia, serif;
	font-size: 0.75em;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	}

h3:first-child {
	margin-top: 0.25em;
	}

p, li {
	font-family: "freight-sans-pro", georgia, serif;
	font-size: 1.0625em;
	line-height: 1.4em;
	color: #333;
	}

p {
	margin-bottom: 1em;
}

p#links {
	font-size: 0.75em;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}

p#links a {
	border-bottom: none;
}

p#links a:hover {
	border-bottom: 1px solid rgba(0,0,0,0.25);
}

li {
	margin-bottom: 0.5em;
}

ul {
	list-style-type: circle;
}

header {
	clear: both;
	text-align: center;
}

header span {
	color: rgba(0,0,0,0.25);
}

#subhead {
	font-weight: 500;
}

.oneColumn {
	float: left;
	width: 30%;
	margin-top: 1.25em;
	margin-right: 5%;
	padding-bottom: 10px;
}

.last {
	margin-right: 0;
}

.borderRight {
	padding-right: 2.465%;
	margin-right: 2.465%;
	border-right: 1px solid rgba(0,0,0,0.25);
}
	
#page:before,
#page:after,
#pageWrapper:before,
#pageWrapper:after {
    content:"";
    display:table;
}

#page:after, #pageWrapper {
    clear:both;
}


/*
RESUME */

.resume a {
	padding-bottom: 0;
}

.resume .oneColumn {
	margin-top: 0;
}

.resume header {
	width: 70%;
	text-align: left;
}

.resume h1 {
	font-size: 3em;
	margin-top: -6px;
}

.resume p#subhead {
	margin-bottom: 0.75em;
}

.resume h3 {
	margin: 4em 0 0.5em;
}

.resume h3:first-child {
	margin-top: 0;
}

.resume span {
	display: block;
	font-weight: 600;
	margin: 0.5em 0;
	line-height: 1.125em;
}

.resume span i {
	font-style: normal;
	font-weight: 300;
}

.resume ul {
	margin-bottom: 2em;
}

.resume li {
	line-height: 1.3em;
}

@media screen and (max-width: 768px) {
	.resume header h1 {
		font-size: 2em;
	}
	
	.resume header p {
		font-size: 1em;
	}
}

@media screen and (max-width: 500px) {
		
	#page {
		margin: 32px 32px 1em;
	}
	
	h1 {
		font-size: 2.25em;
		}
	
	p#subhead {
		font-size: 0.8125em;
		margin-bottom: 0.5em;
	}
		
	p#links {
		font-size: 0.625em;
	}
		
	#verticalAlignSpacer {
		margin-bottom: -80px;
		}
		
	.oneColumn {
		width: 100%;
		margin-right: 0;
	}
	
	.oneColumn:nth-child(2) {
		padding-top: 2em;
		margin-top: 6em;
		border-top: 1px solid rgba(0,0,0,0.25);
	}
	
	.oneColumn:nth-child(2), .oneColumn:nth-child(3) {
		float: none;
		width: 87.5%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.resume header {
		width: 100%;
		text-align: center;
		padding-bottom: 0.75em;
	}
	
	.resume header h1 {
		font-size: 2.25em !important;
	}
	
}




